.container{
    margin-bottom: 100px;
}
.my-design{
    background-color: #fceae8;
    border-radius:10px ;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy{
    background-image: linear-gradient(to bottom, #FF136F 0%, #FF136F 100%);
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    color: white;
    cursor: pointer;
}